/*
Style CSS du site Aphios Website
Par Sophie Blanchard
*/

/* Main styles */

@font-face {
	font-family: "Neris light";
	src: url('Fonts/Neris-light-webfont.eot') format('eot'),
	     url('Fonts/Neris-light-webfont.ttf') format('ttf'),
	     url('Fonts/Neris-light-webfont.woff') format('woff'),
	     url('Fonts/Neris-light-webfont.svf') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: "Neris semibold italic";
	src: url('Fonts/Neris-SemiBoldItalic-webfont.eot') format('eot'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.ttf') format('ttf'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.woff') format('woff'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.svf') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family: "Rothenburg";
	src: url('Fonts/rothenbg-webfont.eot') format('eot'),
	     url('Fonts/rothenbg-webfont.ttf') format('ttf'),
		 url('Fonts/rothenbg-webfont.woff') format('woff');
	font-weight: normal;
	font-style:normal;
}


@keyframes balance{
	0%{
		transform :skew(0);
	}

	100%{
		transform:skew(15deg, 15deg);
	}
}

*{box-sizing: border-box;}

html{
	font-size: 16px;
	--primaryBlue : #140454;
	--primaryPink : #bc007d;
	--primaryGrey: #e8e8e8;
	--secondaryBlue : #360465;
	--secondaryGrey : #e6ccff;
	--secondaryPink : #591d39;
}

body{
	width: 100%;
	max-width:1280px;
	min-width:700px;
	margin:auto;
}

section{
	display:flex;
}

h1{
	font-family:"Rothenburg";
	font-size: 2.5rem;
	color: var(--primaryBlue);
	margin-bottom: 0.5rem;
}

h2 {
	font-family: "Neris semibold italic";
	font-size: 1.6rem;
}

h3 {
	font-family: "Neris semibold italic";
	font-size: 1.4rem;
	padding-left:0.5em;
}

p{
	font-family:"Neris light";
}

ul{
	font-family:"Neris light";
	list-style:none;
	margin:0;
	padding:0 0.2em 0.2em 0.4em;
}

ul li{
	font-size: 0.9rem;;
}

ul li:before {
	content: "- ";
    color: var(--primaryBlue);
    font-size: 1.2rem;
	font-family:"Rothenburg";
}

a {
	text-decoration:none;
	color: var(--primaryBlue);
}

a:visited {
	text-decoration:none;
	color: var(--primaryPink);
	font-style: italic;
}

mark{
	font-style:oblique;
	background: none;
	font-weight:bold;
}

#inner{
	width:80%;
	margin:auto;
}

/* Mainpage */

article{
	margin-right:2em;
	min-width:65%;
}


aside {
	background-color : var(--primaryGrey);
	min-width:25%;
	border-radius: 0.3em;
	margin-top : 2.5em;
	padding : 0.2em 1.2em 1.2em 1.2em;
}

aside p{
	font-size:0.9em;
}

aside a{
	font-size:0.9rem;
	text-decoration:none;
	color: var(--primaryBlue);
}

/* En-tête */

#en-tete {
	display : flex;
	height: 100px;
}

.titre{
	font-family:"Rothenburg";
	font-size: 3.2rem;
    color: var(--primaryBlue);
}

.logo{
	height:auto;
	padding-top: 1.5em;
	padding-right: 1.5em;
	transform-origin: 10px 10px;
	animation: balance 1.5s linear infinite alternate paused;
}

.logo img{border-radius:2px;}

.logo:hover{animation-play-state: running;}

.banniere{background-color: #989fff;}

.banniere img{
	width:100%;
}

/* Menu */

.menu{
	list-style:none;
	display:flex;
	margin-top:0em;
	margin-bottom:0em;
}

.menu li{
	font-family: "Neris semibold italic";
	font-size : 1.2rem;
	color : var(--primaryBlue);
	width:100%;
	text-align:center;
	margin-top:0.4em;
	position:relative;	
}

.menu li:before{
	content: none;
}
	
.menu a{
	text-decoration:none;
	color : var(--primaryBlue);
	transition: text-shadow 300ms ease-out;
}

.menu a:hover{
	text-shadow: 0px 0px 10px #FFFFFF;
}

nav {
	width:100%;
	height:3em;
	background-color: #989fff;
	border-radius: 0em 0 0.5em 0.5em;
}

.sous_menu{
	display:none;
	background-color: #989fff;
    position: relative;
	left:3.4em;
    width: 60%;
    z-index: 2;
	padding: 0.5em 0.5em 1em 2em;
	border-radius: 0.3em;
}

.deroulant:hover .sous_menu, .deroulant.ouvert .sous_menu{
    display: flex;
    flex-flow: column wrap;
}

.sous_menu li{
	text-align: left;
	font-size: 1.1rem;
	width:80%;
	padding-bottom:1em;
	padding-top:0.5em;
	border-bottom-style:solid;
	border-bottom-width:0.1em;
	border-bottom-color:#4e24f5;
}

.visually-hidden{
	display:none;
}

.fleche-bas:after{
	content:'';
	border-top: 7px solid var(--primaryGrey);
	border-right: 7px solid #989fff;
	border-left: 7px solid #989fff;
	margin-left: 5px;
	position:relative;
	top: 10px;
	left: 0px;
}


/* Bas de page */

footer{
	background-color: var(--primaryGrey);
	display: flex;
	margin-top:1.2em;
	width:100%;
	height:2.5em;
	border-radius:0.3em;
}

.categ_barre_inf{
	display : flex;
	width:100%;
	font-family: "Neris light";
	font-size:0.9em;
	text-align:center;
	justify-content:center;
}

.categ_barre_inf p {
	font-family:"Neris light";
	font-size:0.9em;
	margin-top:1em;
}

.categ_barre_inf a{
	font-size:0.9em;
	text-decoration:none;
	color:#000000;
	margin-top : 1em;
}

/*Fantasy fight presentation */

.miniature{
	width:50%;
	height:auto;
}

figure img{
	width:100%;
	height:auto;
}

figure img:hover{
	cursor:pointer;
}

figcaption{
	font-family: "Neris light";
	font-size: 0.9em;
	text-align:center;
}

.flex-line{
	display:flex;
	margin-bottom:2em;
}

.download{
	border-radius:2em;
	height:3em;
	line-height:100%;
	padding:1em;
	margin-right: 1em;
	text-align: center;
	font-family: "Neris light";
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	font-weight:bolder;
	position:relative;
	z-index:1;
	transition:transform 300ms;
	background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(111,42,107,1) 100%);
}

.download a{color: var(--secondaryGrey);}

.download:hover{
	transform:scale(1.1);
}

.download::after{
	content:"";
	opacity:0;
	transition:opacity 400ms;
	border-radius:2em;
	position:absolute;
	z-index:-1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: linear-gradient(0deg, rgba(82,15,78,1) 0%, rgba(230,12,12,1) 100%); 
}

.download:hover::after{
	opacity:1;
}

#lightbox{
	background-color: rgba(21, 4, 37, 0.95);
	display:none;
	position: fixed;
	z-index:100;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#lightbox.active{
	display:flex;
	justify-content: center;
	align-items:center;
}

#diaporama{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:700px;
	height:600px;
	padding-top:5px;
	padding-bottom:5px;
}

#diaporama img{
	display:none;
	margin:auto;
	height:85%;
	width:auto;
}

#diaporama img.active{
	display: block;
	border-style: inset;
	border-width: 5px;
	border-color:rgb(181, 168, 174);
}

#quit, #next, #previous{
	color:rgb(32, 30, 34);
	background-color:rgb(181, 168, 194);
    font-weight: bold;
	font-size: 20px;
	font-family:"Neris light";
    transition: opacity 0.6s;
	border-radius: 2px;
    user-select: none;
	-webkit-user-select: none;
	opacity:0.7;
	width:35px;
	height:35px;
	text-align:center;
	line-height:35px;
}

#quit{
	align-self:flex-end;
	margin-top: 5px;
}

#quit:hover, #next:hover, #previous:hover{
	opacity:1;
	cursor:pointer;
}

#controls{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width:700px;
	margin-bottom: 5px;
}

/*Contact */

form{
	background-color: var(--secondaryGrey);
	border-radius:0.5rem;
}

label, legend, textarea, input {
	font-family: "Neris light";
	font-size: 1rem;
	margin:0.4em;
	box-sizing: border-box;
}

legend {
	font-size: 1.2rem;
}

textarea{
	width:80%;
	height:20em;
}

input[type=submit] {
	font-weight:bold;
	color: var(--secondaryPink);
}

#nom {
	margin-left:1.9em;
}

#mail {
	margin-left : 1.5em;
}

.msg_form {
	text-align:center;
	font-size:1.2em;
	color: var(--secondaryPink);
	margin : 1em;
}

/*CV*/

hr{
	border: none;
	border-top: 0.1em inset var(--primaryPink);
	width:80%;
	height: 1em;
	overflow:visible;
	text-align:right;
	justify-content:center;
}

hr:after{
	background: #fff;
	content:' X ';
	position:relative;
	top:-0.9em;
	font-family:"Rothenburg";
	font-size:1.2em;
}

#cv_body{
	display:flex;
	width:80%;
	margin:auto;
}


#cv_left, #cv_right{
	display:flex;
	flex-direction:column;
}

#cv_left{
	background-color: var(--secondaryGrey);
	border-radius:1em;
	padding:1em 1em 1em 2.5em;
	width:30%;
	height : auto;
}

#cv_left li{
	line-height:1.1em;
	font-size:1rem;
}

#cv_left h3{
	padding-left: 0em;
}

#cv_left p{
	font-size: 1rem;
}

#cv_right{
	width:70%;
	height:auto;
	padding:1em 2em 1em 2em;
	margin-left:1em;
}

#cv_right ul{
	column-count:2;
}

#cv_right h3{
	padding-left: 0em;
}

#cv_right h4{
	font-family: "Neris light";
	color:var(--secondaryBlue);
	margin-bottom:0em;
	margin-top:0.5em;
}
#cv_right p{
	margin-top:0.2em;
	margin-bottom : 1em;
	font-size:1rem;
}
#cv_top{
	display:flex;
	width:80%;
	margin:auto;
}

#cv_intro{
	display:block;
	margin-left:2.5em;
	padding-top:1.5em;
}

#cv_intro h2{
	font-size:2em;
	color: var(--primaryBlue);
	margin-bottom : 0.4em;
	margin-top: 0.5em;
}

#cv_intro h3{
	color : var(--secondaryBlue);
	font-size:1.5em;
	margin-bottom : 0.5em;
	margin-top:0em;
	padding-left:0em;
}

#cv_intro p{
	font-style:oblique;
	font-size:0.9rem;
	margin-top : 0.2em;
	margin-bottom: 0.5em;
	
}

.progress-bar-1, .progress-bar-2, .progress-bar-3{
	height: 0.8em;
	border-radius:0.3em;
	background: linear-gradient(0.25turn, var(--secondaryBlue), var(--primaryPink));
	color:rgba(255, 255, 255, 0);
	font-size: 0.5rem;
	margin-left: 2em;
}

.progress-bar-1{padding-left:3em;}

.progress-bar-2{padding-left:5em;}

.progress-bar-3{padding-left:8em;}

/* Ecran de moins de 1275 px de large */

@media screen and (max-width: 1275px){	
    textarea{height:15em;}

}

/* Ecran de moins de 1110xpx de large */

@media screen and (max-width: 1110px){
	.sous_menu{left:2.5em;}
}

/* Ecran de moins de 900px de large */

@media screen and (max-width: 900px){

	html{font-size: 14px;}

	.sous_menu{
		left:2em;
		padding-left: 1.2em;
	}

	.sous_menu li{font-size: 1rem;}

	aside a{font-size: 0.8rem;}

	aside ul li{font-size: 0.8rem;}

	ul li::before{font-size: 0.9rem;}

	h1{font-size: 2.2rem;}

	h2{
		font-size: 1.4rem;
		margin-bottom: 0.5em;
	}

	h3{font-size: 1.2rem;}

	h4{font-size:1.1rem;}

	#cv_body{
		flex-direction: column;
		align-content: center;
		width:100%;
	}

	#cv_left, #cv_right{
		width:80%;
		padding: 1em;
		margin:auto;
	}

	#cv_right{text-align: center;}

	#cv_left{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
	}

}

/* Ecran de moins de 750px de large */

@media screen and (max-width: 750px){
	textarea{height:10em;}
	
	.banniere{display: none;}

	section{display: block;}

	html{font-size: 13px;}

	body{
		min-width: 400px;
		margin: auto;
		text-align: center;
	}

	h1{font-size: 2rem;}

	.titre{font-size: 2.5rem;}

	aside a{font-size: 0.7rem;}

	aside ul li{font-size: 0.7rem;}
	
	.menu{
		display:block;
		padding-top: 0.4em;
	    padding-bottom: 0.4em;
	}
	
	.menu li{
		width:auto;
		text-align:center;
		position:static;
		padding-bottom: 0.5em;
	}
			
	nav {
		width:50%;
		height:auto;
		border-radius: 5em;
		margin: auto;
	}
	
	.sous_menu{
		display:block;
	    position: static;
		width: auto;
		padding: 0;
		border-radius: 0;
	}
	
	.deroulant:hover .sous_menu{display: block;}

	.sous_menu li{
		text-align: center;
		font-size: 1rem;
		width:100%;
		padding: 0;
		border: none;
	}

	#inner{width:100%;}

	#en-tete{
		justify-content: center;
	}

	.menu li a, .sous_menu li a{margin: auto;}

	.miniature, figcaption{margin:auto;}

	#cv_intro{
		margin-left: 2em;
		text-align: left;
	}

	#cv_intro h2{font-size:1.8rem;}

	#cv_intro h3{font-size:1.4rem;}

	.progress-bar-1, .progress-bar-2, .progress-bar-3{
		display:none;
	}

	form{
		width:85%;
		margin:auto;
		text-align: left;
	}

	legend{font-size:1.1rem;}

	#diaporama{
		width: 450px;
		height:385px;
	}

	#diaporama img.active{border-width:3px;}

	#quit, #previous, #next{
		width:25px;
		height:25px;
		line-height: 25px;
		font-size: 15px;
	}

	#quit{margin-bottom:5px;}

	#controls{
		width:450px;
		margin-top:5px;
	}

	.flex-line{
		justify-content: space-evenly;
	}

}

/* Ecrans de moins de 500 px */

@media screen and (max-width: 500px){
	#cv_top{display:block;}

	#cv_intro{
		margin-left: 1em;
		padding-top:0.5em;
	}

	#cv_intro h2{margin-top:0em;}

	#lettrine{
		text-align: left;
	}

	hr{margin-top:1.2rem;}

	#diaporama{
		width:325px;
		height:280px;
	}

	#diaporama img.active{
		border-width:3px;
	}

	#controls{
		width:325px;
	}

}

/*Ecrans de moins de 400px */

@media screen and (max-width: 400px){
	footer{
		flex-direction: column;
		height: auto;
	}

	.categ_barre_inf{
		text-align:left;
		justify-content:flex-start;
	}

	html{
		font-size:12px;
	}

	body{
		text-align:left;
		margin:10px;
		min-width:200px;
	}

	#en-tete{
		justify-content: left;
	}

	nav{
		margin-left:10px;
		margin-right:10px;
	}

	form{margin:0;}

}
