/*
Style CSS du site Aphios Website
Par Sophie Blanchard
*/

/* Main styles */

@font-face {
	font-family: "Neris light";
	src: url('Fonts/Neris-light-webfont.eot') format('eot'),
	     url('Fonts/Neris-light-webfont.ttf') format('ttf'),
	     url('Fonts/Neris-light-webfont.woff') format('woff'),
	     url('Fonts/Neris-light-webfont.svf') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: "Neris semibold italic";
	src: url('Fonts/Neris-SemiBoldItalic-webfont.eot') format('eot'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.ttf') format('ttf'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.woff') format('woff'),
	     url('Fonts/Neris-SemiBoldItalic-webfont.svf') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family: "Rothenburg";
	src: url('Fonts/rothenbg-webfont.eot') format('eot'),
	     url('Fonts/rothenbg-webfont.ttf') format('ttf'),
		 url('Fonts/rothenbg-webfont.woff') format('woff');
	font-weight: normal;
	font-style:normal;
}

body{
	width: 100%;
	max-width:1280px;
	min-width:700px;
	margin:auto;
}

section{
	display:flex;
}

h1{
	font-family:"Rothenburg";
	font-size: 4em;
	color: #140454;
}

h2 {
	font-family: "Neris semibold italic";
	font-size: 1.5em;
}

h3 {
	font-family: "Neris semibold italic";
	font-size: 1.3em;
	padding-left:0.5em;
}

p{
	font-family:"Neris light";
	font-size:1.1em;
}

ul{
	font-family:"Neris light";
	font-size: 1em;
	list-style:none;
}

ul li:before {
	content: "- ";
    color: #140454;
    font-size: 1.5em;
	font-family:"Rothenburg";
}

a {
	text-decoration:none;
	color:#140454;
}

a:visited {
	text-decoration:none;
	color: #bc007d;
	font-style: italic;
}

mark{
	font-style:oblique;
	background: none;
	font-weight:bold;
}

/* Mainpage */

article{
	margin-right:2em;
}


aside {
	background-color : #e8e8e8;
	width:35%;
	border-radius: 0.3em;
	margin-top : 2.5em;
	padding:1.2em;
}

aside p{
	font-size:1em;
}

aside a{
	font-size:1em;
	text-decoration:none;
	color:#140454;
}

/* En-tête */

#en-tete {
	display : flex;
}

.titre{
	font-family:"Rothenburg";
	font-size: 7em;
    color: #140454;
}

.logo{
	width:30%;
	height:auto;
}

.logo img {
	width :55%;
	height:auto;
}


.banniere{
	background-color: #989fff;
}

.banniere img{
	width : 100%;
	height:auto;
}

/* Menu */

.menu{
	list-style:none;
	display:flex;
	margin-top:0em;
	margin-bottom:0em;
}

.menu li{
	font-family: "Neris semibold italic";
	font-size : 1.4em;
	color : #140454;
	width:100%;
	text-align:center;
	margin-top:0.4em;
	position:relative;	
	/* flex: 1 1 auto; */
}

.menu li:before{
	content: none;
}
	
.menu a{
	text-decoration:none;
	color : #140454;
}

nav {
	width:100%;
	height:3.5em;
	background-color: #989fff;
	border-radius: 0em 0 0.5em 0.5em;
	/* position:sticky; */
}

.sous_menu{
	display:none;
	background-color: #989fff;
    position: relative;
	left:2em;
    width: 60%;
    z-index: 2;
	padding-top:1em;
	padding-bottom:1em;
}

nav > ul li:hover .sous_menu{
    display: flex;
    flex-flow: column wrap;
}
.sous_menu li{
    font-size:0.9em;
	text-align: left;
	width:80%;
	padding-bottom:1em;
	padding-top:0.5em;
	border-bottom-style:solid;
	border-bottom-width:0.1em;
	border-bottom-color:#4e24f5;
}


/* Bas de page */

footer{
	background-color: #e8e8e8;
	display: flex;
	margin-top:1.2em;
	width:100%;
	height:2.5em;
	border-radius:0.3em;
}

.categ_barre_inf{
	display : flex;
	width:100%;
	font-family: "Neris light";
	font-size:0.9em;
	text-align:center;
	justify-content:center;
}

.categ_barre_inf p {
	font-family:"Neris light";
	font-size:0.9em;
	margin-top:1em;
}

.categ_barre_inf a{
	font-size:0.9em;
	text-decoration:none;
	color:#000000;
	margin-top : 1em;
}

/*Fantasy fight presentation */
.miniature{
	width:50%;
	height:auto;
}

figure img{
	width:50%;
	height:auto;
}

figure img:hover{
	cursor:pointer;
}

figcaption{
	font-family: "Neris light";
	font-size: 0.9em;
	text-align:center;
	width:50%;
	height:auto;
}

#lightbox{
	background-color: rgba(21, 4, 37, 0.95);
	display:none;
	position: fixed;
	z-index:100;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#lightbox.active{
	display:flex;
	justify-content: center;
	align-items:center;
}

#diaporama{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:700px;
	height:600px;
}

#diaporama img{
	display:none;
	margin:auto;
	height:85%;
	width:auto;
}

#diaporama img.active{
	display: block;
	border-style: inset;
	border-width: 5px;
	border-color:rgb(181, 168, 174);
}

#quit, #next, #previous{
	color:rgb(32, 30, 34);
	background-color:rgb(181, 168, 194);
    font-weight: bold;
	font-size: 20px;
	font-family:"Neris light";
    transition: opacity 0.6s;
	border-radius: 2px;
    user-select: none;
	-webkit-user-select: none;
	opacity:0.7;
	width:35px;
	height:35px;
	text-align:center;
	line-height:35px;
}

#quit{
	align-self:flex-end;
}

#quit:hover, #next:hover, #previous:hover{
	opacity:1;
	cursor:pointer;
}

#controls{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width:700px;
}

/*Contact */

form{
	background-color: #e6ccff;
}

label, legend, textarea, input {
	font-family: "Neris light";
	font-size: 1em;
	margin:0.4em;
	box-sizing: border-box;
}

legend {
	font-size: 1.2em;
}

textarea{
	width:60em;
	height:20em;
}

input[type=submit] {
	font-weight:bold;
	color:#591d39;
}

#nom {
	margin-left:1.9em;
}

#mail {
	margin-left : 1.5em;
}

.msg_form {
	text-align:center;
	font-size:1.2em;
	color:#591d39;
	margin : 1em;
}

/*CV*/

hr{
	border: none;
	border-top: 0.1em inset #bc007d;
	width:80%;
	height: 1em;
	overflow:visible;
	text-align:right;
	justify-content:center;
}

hr:after{
	background: #fff;
	content:' X ';
	position:relative;
	top:-0.9em;
	font-family:"Rothenburg";
	font-size:1.2em;
}

#cv_body{
	display:flex;
	width:80%;
	margin:auto;
}


#cv_left, #cv_right{
	display:flex;
	flex-direction:column;
}

#cv_left{
	background-color:#e6ccff;
	border-radius:1em;
	padding:1em;
	width:30%;
	height : auto;
}

#cv_left li{
	line-height:1.1em;
}

#cv_left h3{
	padding-left: 0em;
}

#cv_left p{
	font-size:1em;
}

#cv_right{
	width:70%;
	height:auto;
	padding:2em;
	margin:1em;
}

#cv_right ul{
	column-count:2;
}

#cv_right h3{
	padding-left: 0em;
}

#cv_right h4{
	font-family: "Neris light";
	color:#360465;
	margin-bottom:0em;
	margin-top:0.5em;
}
#cv_right p{
	margin-top:0.2em;
	margin-bottom : 1em;
	font-size:1em;
}
#cv_top{
	display:flex;
	width:80%;
	margin:auto;
}

#cv_intro{
	display:block;
	margin-left:2.5em;
	padding-top:3.8em;
}

#cv_intro h2{
	font-size:2em;
	color: #140454;
	margin-bottom : 0.4em;
	margin-top: 0.5em;
}

#cv_intro h3{
	color :#360465;
	font-size:1.5em;
	margin-bottom : 0.5em;
	margin-top:0em;
	padding-left:0em;
}

#cv_intro p{
	font-style:oblique;
	font-size:0.9em;
	margin-top : 0.2em;
	margin-bottom: 0.2em;
	
}

